@model MyIceDream.Models.Order

@{
    ViewData["Title"] = "Create Order";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="ProductId" class="control-label">Product ID</label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity" class="control-label">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TotalPrice" class="control-label">Total Price</label>
        <input asp-for="TotalPrice" class="form-control" />
        <span asp-validation-for="TotalPrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserId" class="control-label">User Id</label>
        <input asp-for="UserId" class="form-control" />
        <span asp-validation-for="UserId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create Order" class="btn btn-primary" />
    </div>
</form>

<a href="@Url.Action("Index", "Order")" class="btn btn-secondary">Back to Orders</a>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
