@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Vellkome Til Bornholm Slægts & Local Historiske Forrening </h1>
    <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">  Døds Anunoncer</a>
     <img alt="Image"  src="/images/bornholm-billede.jpg" class=" position-absolute " />
     </div>*@
<div class="card " style="align-content-center " >
   
  <div class="card-body text-center">
        <h5 class="card-title">Bornholm Slægts</h5>
       
        <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">   <img src="\images\bornholm_green.jpg" @*style="width:50% ; height:50%"*@ class="img-thumbnail " alt="..."></a>
        <p class="card-text">Vellkome Til Bornholm Slægts & Local Historiske Forrening</p>
        <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">Døds Annoncer</a>
  </div>
</div>
<br/>